[submodule "Projects/01_Transmission_Analysis"]
	path = Projects/01_Transmission_Analysis
	url = https://github.com/JoaquinBadillo/TC2038-E1.git
[submodule "Projects/02_Networking"]
	path = Projects/02_Networking
	url = https://github.com/JoaquinBadillo/TC2038-E2
